@charset "UTF-8";

body {
	background-color: #b42e2e;
	color: #28ae6f;
	text-align: center;
}

h1,h2,h3,h4,h5,h6{font-family: 標楷體;}
h1 {font-size: 3.6em; color:#04aa11; padding-bottom:6px;}
h2 {font-size: 2.9em; color:#34ba21; padding-bottom:5px;}
h3 {font-size: 2.3em; color:#64ca31; padding-bottom:4px;}
h4 {font-size: 1.8em; color:#94da41; padding-bottom:3px;}
h5 {font-size: 1.4em; color:#c4ea51; padding-bottom:2px;}
h6 {font-size: 1.1em; color:#f4fa61; padding-bottom:1px;}


a:hover{color:red;font-size:1.1em;}
input,button{font-size:1em; border-radius:6px; font-weight:bold; box-shadow:#ceaa86 2px 2px 1px; cursor:pointer;}
input[type="submit"]{color:green; background-color:#f3eed3; margin:25px 10px 0 20px;}
button[type="submit"]{color:brown; background-color:#fdf4d7;}
button[type="button"]{color:brown; background-color:#f2e9e3;}
input[type="submit"]:hover{background:#dbffff;}
button[type="submit"]:hover{background:#ffe0c1;}
button[type="button"]:hover{background:#ffd2ff;}

.wrapper{width:100%;height:750px;background-color:#fefed9;}
header{width:100%;height:25%;background:url("/mylibrary/images/mylib_logo.png");}
aside{width:24%;height:75%;background-color:e#e3a06a; float:left;}
section{width:74%;height:75%;background-color:#cae146; float:right;color:#b5a61e;}

#querybookresult{
	height:200px background:yellow; overflow: hidden;	
}

.funcmenu ul {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.funcmenu li {
	border: solid blue 3px;
	list-style-type: none;
	width: 10em;
	height: 3em;
	border-radius: 20px;
	margin: 5px auto;
	background-color: #f8fdea;
	text-align: center;
	font-size: 1.2em;
}

.funcmenu button, .funcmenu a {
	text-decoration: none;
	text-align:justify center;
	display: block;
	padding: 2px; font-size:1.3em;
	margin: 10px auto;
	border:none;
	background-color:inherit;
}

#readerid {
	font-size: 1.6em;
	font-family: fantasy;
	border:dotted 3px #00ae00;
	background-color: #fbfffb;
	width:5em;
}

#title{text-shadow:#d88427 4px 2px 2px;margin-top:10px; color:#f1e7d1;}
.headmenu{margint:0 auto;}
.headmenu>ul{display:inline-flex; flex-direction:row; }
.headmenu>ul>li{
	border:solid blue 2px; list-style-type: none; width:5em; height: 2em;
	border-radius:15px; margin:0 5px; padding:2px;display:flex; 
	background-color: #eeeeff; text-align:center; font-size:1.2em; 
}
.headmenu>ul>li:first-child {width:6em; height: 2.2em; margin-right:10px; font-size:1.3em;}
.headmenu>ul>li>a{
	text-decoration:none; background:white; display:block; padding:3px; margin:auto;
}
.headmenu>ul>li:first-child{font-size:1.3em; }


#qryedit{
	font-size:1.2em; text-shadow: #8000ff 1px 0 2px;
	padding:5px; overflow:hidden; width:80%; height:300px;
	color:#ffb7ff;	border:solid 2px darkblue;
}
tr{padding-left:0;}
th{background-color:darkblue; color:#faccfa; height:1.1em;}
td,th{text-align:center;border:solid 2px blue;height:1em;}
tfoot td{border-width:0;text-align:center;}

.readertable{padding:0;margin:0 auto;}
.readertable, .readertable tr, .readertable td{border:none;}
.readertable tr:last-child, .readertable a{padding:0 auto; margin:0 auto;background-color:#edfae9;}
.readertable a{box-shadow:#d2c091 2px 2px 1px; border-radius: 10px;}

#ac_info{margin:0 auto; font-size:1.2em; color:#0d9f77;}

#gbk,#ubk,#abk,#dbk{cursor: pointer;}

.msg{font-size:1.2em; color:#df9d22; text-shadow: black 1px 1px 1px; }