@charset "UTF-8";

body {
	background-color: #b42e2e;
	color: #28ae6f;
	text-align: center;
}

h1,h2,h3,h4,h5,h6{font-family: 標楷體;}
h1 {font-size: 3.6em; color:#04aa11; padding-bottom:6px;}
h2 {font-size: 2.9em; color:#34ba21; padding-bottom:5px;}
h3 {font-size: 2.3em; color:#64ca31; padding-bottom:4px;}
h4 {font-size: 1.8em; color:#94da41; padding-bottom:3px;}
h5 {font-size: 1.4em; color:#c4ea51; padding-bottom:2px;}
h6 {font-size: 1.1em; color:#f4fa61; padding-bottom:1px;}



input{font-size:1em; border-radius:6px; font-weight:bold;}
input[type="submit"]{color:green; background-color:yellow; margin:25px 10px 0 20px;}
button[type="submit"]{color:brown; background-color:#fcebb1;border-radius:6px;border:solid 2px #bd8035;}

.wrapper{width:100%;height:750px;background-color:#fefed9;}
header{width:100%;height:25%;background:url("/mylibrary/images/mylib_logo.png");}
aside{width:24%;height:75%;background-color:e#e3a06a; float:left; }
section{width:74%;height:75%;background-color:#cae146; float:right;color:#b5a61e;}

.funcmenu ul {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.funcmenu li {
	border: solid blue 3px;
	list-style-type: none;
	width: 10em;
	height: 3em;
	border-radius: 20px;
	margin: 5px auto;
	background-color: #f8fdea;
	text-align: center;
	font-size: 1.2em;
}

.funcmenu button, .funcmenu a {
	text-decoration: none;
	text-align:justify center;
	display: block;
	padding: 2px; font-size:1.3em;
	margin: 10px auto;
	border:none;
	background-color:inherit;
}

#readerid {
	font-size: 1.6em;
	font-family: fantasy;
	border:dotted 3px #00ae00;
	background-color: #fbfffb;
	width:5em;
}

#title{text-shadow:#d88427 4px 2px 2px;margin-top:10px; color:#f1e7d1;}
.headmenu{margint:0 auto;}
.headmenu>ul{display:inline-flex; flex-direction:row; }
.headmenu>ul>li{
	border:solid blue 2px; list-style-type: none; width:5em; height: 2em;
	border-radius:15px; margin:0 5px; padding:2px;display:flex; 
	background-color: #eeeeff; text-align:center; font-size:1.2em; 
}
.headmenu>ul>li:first-child {width:6em; height: 2.2em; margin-right:10px; font-size:1.3em;}
.headmenu>ul>li>a{
	text-decoration:none; background:white; display:block; padding:3px; margin:auto;
}
.headmenu>ul>li:first-child{font-size:1.3em; }


#qryedit{
	font-weight:300; font-size:1.2em; text-shadow: blue 1px 2px;
	padding:5px;
	color:#ffa53e;border:solid 2px darkblue;
}
tr{padding-left:0;}
th{background-color:darkblue; color:#faccfa;}
td,th{text-align:center;border:solid 2px blue;padding:3px;}
tfoot td{border-width:0;}


#ac_info{margin:0 auto; font-size:1.2em; color:#0d9f77;}

#gbk,#ubk,#abk,#dbk{cursor: pointer;}

